$text-color: #252424;
$background-color: #ffffff;
$header-font: "Gilroy";
$body-font: "Commissioner";

@import "partials/projects";
@import "partials/choice";
@import "partials/about";
@import "partials/figma";
@import "partials/footer";
@import "partials/breakpoint";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: $text-color;
    font-family: $body-font;
}

section, footer {
    padding-left: 7em;
    padding-right: 7em;
}

a {
    color: $text-color;
    font-family: $header-font;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    padding-left: 7em;
    padding-right: 7em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0;
    padding-left: 7em;
    padding-right: 7em;

    .hero-text {
        width: 48%;

        h1 {
            font-size: 3em;
            font-family: $header-font;
            margin-bottom: .2em;
        }

        p {
            font-size: 1em;
            font-family: $body-font;
            margin-bottom: 1em;
            line-height: 1.5;
            letter-spacing: .4px;
        }

        .connect {
            margin-top: 2em;

            h6 {
                font-family: $header-font;
                letter-spacing: .4px;
                margin-bottom: 1em;
                color: #3d3d3d;
            }

            .social {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: .6em;
                }
            }
        }
    }
}


.hero-img {
    width: 48%;

    img {
        width: 100%;
    }
} 