@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 2.4em !important;
    }

    .about-me p {
        width: 100% !important;
    }

    .work-img {
        width: 60%;
    }

    .work-text {
        width: 37%;
    }
}

@media screen and (max-width: 900px) {
    main {
        padding: 0 6em;
    }
    header {
        margin: 4em 0 !important;

        .hero-text {
            width: 60% !important;

            p {
                font-size: 16px !important;
            }
        }
        .hero-img {
            width: 40%;
        }
    }
    header h1 {
        font-size: 2em !important;
    }

    .figma{
        padding-left: 1em !important;
    }

    .new-heading {
        margin-bottom: 1em !important;
    }

    .work-new {
        flex-direction: column;
        margin-bottom: 4em !important;

        &:nth-child(3) { 
            flex-direction: column-reverse;
        }

        div {
            width: 100% !important;
            

            &.work-img {
                margin-bottom: 1em;
            }

            &.work-text {
                h1 {
                    margin-bottom: 0.4em !important;
                }

                p {
                    margin-bottom: 1.5em !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 4em !important;
        padding-bottom: 1.5em !important;
    }
    header {
        flex-direction: column;
        

        .hero-img, .hero-text {
            width: 100% !important;

            p {
                width:100%
            }
        }
    }

    .work-text h1 {
        font-size: 1.5em !important;
    }
    .work-text div p, .work-text div a {
        font-size: 1em !important;
    }

    .contribute {
        h3 {
            width: 100% !important;
        }
    }

    .figma {
        padding-left: 0 !important;

        h1 {
            font-size: 2em;
        }
    }

    p {
        width: 100% !important;
    }

    footer {
        padding: 4em !important;
        padding-bottom: 1em !important;

        h1 {
            font-size: 3em !important;
        }

        .full-width a {
            font-size: 1.2em !important;
            align-items: center;

            img {
                height: 80%;
            }
        }

        .footer {
            padding-bottom: 2em !important;
            p, a {
                font-size: 14px !important;
            }

            p {
                margin: 0 !important;
                padding: 0 !important;
            }

            .social {
                display: flex;
                align-items: center;
                height: 100% !important;

                a {
                    margin-left: 1em;

                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 2em !important;
    }
    .works {
        flex-direction: column;

        .work {
            width: 100%;
        }
    }

    .contribute {
        h3 {
            font-size: 2em !important;
            width: 100% !important;

        }
    }
    
    .figma {
        padding-left: 0 !important;

        h1 {
            font-size: 2.5em !important;
            margin-bottom: .2em !important;
        }

        p {
            width: 100% !important;
        }
    }

    footer {
        h1 {
            font-size: 3em !important;
            font-family: $header-font;
            margin-bottom: .2em;
        }

        .full-width a {
            font-size: 1.2em !important;
            align-items: center;

            img {
                height: 80%;
            }
        }
    }

    footer {
        padding: 0 !important;
        padding-bottom: 2em !important;

        .footer {
            // padding: 0 !important;
            display: flex;
            justify-content: center;
            width: 100%;

            .social {
                width: 80% !important;

                a{
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }

        .social {
            margin-bottom: 2em !important;
            width: 80%;

            a {
                margin-left: 1.5em !important;
            }
        }
    }

    .footer {
        padding-bottom: 2em !important;
        justify-content: flex-start;
        height: 100px;

        h1 {
            font-size: 1.6em !important;
        }

        p {
            margin-bottom: 2em !important;
        }
    }
}

@media screen and (max-width: 475px) {
    main {
        padding: 0 2em !important;
    }

    .hero-text {
        margin-top: 2em !important;

        h1 {
            margin-bottom: .6em !important;
        }
    }

    .connect {
        margin-top: 3em !important;
    }
    .contribute {
        h3 {
            font-size: 1.5em !important;
            width: 100% !important;

        }
    }
    
    .figma {
        padding-left: 0 !important;

        h1 {
            font-size: 2em !important;
        }

        p {
            width: 100% !important;
        }
    }
    
    .social a {
        font-size: 14px;
    }

    main {
        padding: 0 1em !important;
    }

    .full-width h1 {
        text-align: center;
    }

    
}